@use "../config/variable" as *;
.progress-circle{
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0px 32px 0px;

    &__wrapper{
        text-align: center;
        margin:8px
    }

    &__label{
        margin-top: 4px;
        color: $gray-600;
    }

    .circle-progress-value {
        stroke-width: 6px;
        stroke: #41daf9;
    }
    .circle-progress-circle {
        stroke-width: 6px;
        stroke: $secondary;
    }
    .circle-progress-text {
        fill: #41daf9;
    }
}