
@use '../config/variable' as *;
@use '../config/mixin' as *;

@use '../sections/clients' as *;
@use '../components/skillbar' as *;
@use '../components/progress-circle' as *;
@use '../components/cards/card-post' as *;
@use '../components/faqs' as *;

.banner{
	@include imageRatio(800, 832);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	align-items: center;
	.btn-wrapper{
		margin:24px 0px;
	}

	&__info-container{
		padding-left: 15px;
	}
	&__subtitle{
		margin-bottom: 4px;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: $primary;
	}

	&__title{
		font-size: 64px;
		font-weight: 700;

	}

	&__profession{
		font-size: 20px;

	}
}

.progress-wrapper{
	display: flex;
}


.bar{
	display: inline-block;
	position: relative;
	margin-bottom: 16px;
	//color: $white;
	letter-spacing: 1px;
	font-size: 16px;
	width: 100%;

	& .thumb{
		position: relative;
		display: inline-block;
		width: 100%;
		height: 10px;
		background-color: $gray-200;
		border-radius: 60px;
		margin-top: 20px;
	}

	& span{
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 100%;
		background: $primary-gradient;
		border-radius: 50px;
	}

	& abbr{
		width: 50px;
		position: absolute;
		top: 47px;
		margin-left: -5px;
		display: inline-block;
		height: 35px;
		border-radius: 50px;
		text-align: center;
		line-height: 35px;
		z-index: 1;
		background: $primary-gradient;
		color: $white;
		font-size: 12px;
	}

	&:nth-child(1) span {
		width: 90%;
	}
	&:nth-child(2) span {
		width: 70%;
	}
	&:nth-child(3) span {
		width: 80%;
	}

	&:nth-child(1) abbr {
		left: 90%;
	}
	&:nth-child(2) abbr {
		left: 70%;
	}
	&:nth-child(3) abbr {
		left: 80%;
	}

}

.about{
	background-color: $gray-50;
}

.dark-theme .about{
	background-color: $dark-secondary;
}

.news{
	//background-color: $secondary;
}

