@use "../config/variable" as *;
.left-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	background-color: #fff;
	border-right: 1px solid #d9d9d9;
	padding: 50px 40px;
	z-index: 9;
}

.nav-social-icon {
	position: absolute;
	transform: rotate(-90deg);
	display: flex;
	left: -120px;
	bottom: 160px;
	width: 340px;
	height: 100px;
	line-height: 100px;

    &__link{
        display: block;
        color: $black-300;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0 15px;
    }
}

.side-menu {
    position: fixed;
	top: 0;
	left: -100%;
	width: calc(100% - 100px);
	height: 100%;
	background-color: #fff;
	margin-left: 100px;
	z-index: 8;
	overflow-y: auto;
	transition: all ease 0.5s;
	width: 100%;
	height: 100%;
	overflow: hidden;

    &.open {
        left: 0;
    }

    &__inner {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
        box-sizing: content-box; /* So the width will be 100% + 17px */
    }

    &__item{
        list-style: none;
        display: block;
    }

    &__link{
        position: relative;
        display: inline-block;
        text-decoration: none;
        font-size: 55px;
        font-weight: 700;
        color: $black-300;
        text-transform: uppercase;
        margin: 30px 100px;

        &:hover{
            color: $black-300;
        }

        &:hover::before {
            width: 100%;
            color: $black-300;
        }
        
        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            background-color: #cfd6ff;
            z-index: -1;
            transition: all ease 0.5s;
        }
    }
}
.wrapper {
	width: calc(100% - 100px);
	margin-left: 100px;
}





