@use "../config/variable" as *;

.btn-wrapper{
    width: 100%;
    height: 100px;
}

.btn-primary {
	display: inline-block;
	padding: 15px 48px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	background-image: $primary-gradient;
	box-shadow: 10px 18px 50px 0 rgba(95, 157, 208, 0.5);
	transition: all ease 0.2s;

    &:hover {
        box-shadow: none;
        margin-top: 5px;
    }


    @media only screen and (max-width: 991.98px) {
        padding: 12px 32px;
        font-size: 16px;
    }
}

.backtop {
    position: relative;
    margin: 0 auto;
    height: 64px;
    width: 180px;
    color: $primary;
    cursor: pointer;

    &:hover p {
        opacity: 1;
        padding-top: 0px;
        font-size: 14px;
    }

    &:hover span {
        top: 22px;
        width: 20px;
    }

    &:hover span:nth-child(1) {
        left: calc(50% - 5px);
        transform: rotate(180deg);
    }

    &:hover span:nth-child(2) {
        right: calc(50% - 5px);
        transform: rotate(-180deg);
    }

    & p {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 50px;
        opacity: 0;
        transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
    }

    & span {
        width: 20px;
        height: 2px;
        left: calc(50% - 10px);
        position: absolute;
        content: '';
        top: 20px;
        border-radius: 20px;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        background-color: $primary;
    }

    & span:nth-child(1) {
        transform: rotate(45deg);
        margin-left: 6px;
        z-index: 1;
    }

    & span:nth-child(2) {
        transform: rotate(-45deg);
        margin-left: -7px;
        z-index: 1;
    }

}

.btn-ripple {
    position: relative;
    display: inline-block;
    overflow: hidden;
    span {
        position: absolute;
        background: $white;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 50%;
        animation: ripple 1s linear infinite;
    }
    
}


@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

/*-----------------------------------------
//////////////// WHATAPPS /////////////////
-----------------------------------------*/
.whatapps {
	position: fixed;
	width: 60px;
	height: 60px;
    line-height: 53px;
	bottom: 20px;
	right: 20px;
	background-color: #25d366;
	color: white;
	border-radius: 52px;
	text-align: center;
	font-size: 29px;
	z-index: 100;
	transition: 0.4s ease;
	border: 3px solid $white;

	&.fixed {
		bottom: 100px;
	}

	&:hover {
		box-shadow: 0 9px 15px rgba(0, 0, 0, 0.2);
		color: #25d366;
		background-color: white;
	}

	&__icon {
		margin-top: 12px;
	}

	@media only screen and (max-width: 575.98px) {
		right: 5px;
		width: 50px;
		height: 50px;
        line-height: 43px;
		font-size: 30px;

		&__icon {
			margin-top: 0px;
		}
	}
}
